body{
    background-color: #ffd700;
    
}
tr{
    border: 1px solid #ffffff;
    text-align:center;
    background-color: #9fb6cd;
}
th{
    text-align:center;
    color:#ffffff; 
    background-color: #FF0000;
}